@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Sk-Modernist-Custom";
    src: url("../assets/fonts/Sk-Modernist-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: "Sk-Modernist-Custom";
}

.icoOpacity {
  opacity: 30%;
}
